{% extends "layout.html" %}
{% block title %}Decompress File{% endblock %}
{% block content %}
{% include 'nav.html' %}
<div class="container-fluid" style="background-color: rgb(245, 236, 110); height:90vh;">
    <div>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label class="form-label" for="fileinput">Upload File</label>
                <input class="form-control" id="fileinput" name="file" type="file" />
            </div>
            <input type="submit" name="upload" class="btn btn-primary" value="Upload"/>
        </form>
    </div>
    <br>
    <div class="d-flex justify-content-left">
        {% if filenames|length > 0 %}
            <p><strong>Files to be decompressed:</strong> 
                {% for f in range(0, filenames|length) %}
                    {{ filenames[f] }}{% if f != (filenames|length) - 1 %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    </div>    
    <div class="d-flex justify-content-center">
        <form method="POST">
            {% if filenames|length > 0 %}
                <input type="submit" class="btn btn-primary" name="decompress" value="Decompress"/>
            {% endif %}
        </form>
    </div>
    {% if enabledwnld %}
    <br>
    <div class="d-flex justify-content-center">
        <form method="POST">
            <input class="btn btn-primary" name="download" type="submit" value="Download ZIP File">
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}