{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
{% include 'nav.html' %}
<div class="container-fluid" style="background-color: rgb(245, 236, 110); height:90vh;">
    <h3 class="text-center">Welcome to File Compresser</h1>
    <h5 class="text-center">Your one stop to compress and decompress files...</h2>
    <div class="d-flex justify-content-center" style="height: 78vh;">    
        <div class="d-flex" style="margin-top: 10vh;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title mb-2 align-content-center">Compress Files</h5>
                            <p class="card-text">Check below for file types supported!</p>
                            <div class="text-center"><a href="{{ url_for('compressfile.compressPage') }}" class="btn btn-primary">Compress</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title mb-2 align-content-center">Decompress Files</h5>
                            <p class="card-text">Check below for file types supported!</p>
                            <div class="text-center"><a href="{{ url_for('decompressfile.decompressPage') }}" class="btn btn-primary">Decompress</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="text-center">Supported File Types:</h5>
    <p class="text-center">.txt,.pdf,.pptx,.mobi,.py,.java,.rb,.sql,.mp3,.mp4,.xsi,.exe,.jpg,.jpeg,.png</p>
</div>
{% endblock %}