click==8.1.7
colorama==0.4.6
Flask==2.2.3
Flask-WTF==1.1.1
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
Werkzeug==2.2.3
WTForms==3.0.1
pytest==7.2.2
pymongo==4.5.0
certifi==2022.12.7
openpyxl==3.1.2